* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Roboto',sans-serif;
    color:#434455;
    background-color:var(--white);  }

:root{
    --purple:#4D5AE5;
    --navy-blue:#2E2F42;
    --grey-paragraphs:#434455;
    --off-white:#F4F4FD;
    --white:#FFF;           }
img{
    display: block;
    max-width:100%;
    height:auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
 {
    margin:0;
}


.link{
    text-decoration:none;
    }
.pages{
 list-style: none;
text-decoration:none;}

.lists{
    list-style: none;
    font-style:normal;
}

.list{
    list-style: none;
    font-style:normal;
 margin:0;
padding-left:0;}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  .container{
    width: 100%;
    margin:0 auto;
padding:0 15px;}

.header{
  
    outline: 1px solid #e7e9fc;  
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      }
  
  .logo{
      font-family: 'Raleway', sans-serif;
      color:#4D5AE5;
      font-size:18px;
      line-height: 1.17;
      font-weight: 800;
      letter-spacing: 0.03em;
      text-transform: uppercase;}
  
  
  .visually-hidden{
      display: none;}
  
  
  .logo-nav-address{
      display:flex;
      padding: 0 15px;
      gap:332px; }
  
  
  
  
  .logo{
      margin-right: 76px;}
  
  
  
  
  .logo-part{
  color:#2E2F42;}
  
  



/* ================================================= MOBILE 👇 ========================================= */
@media screen and (min-width: 320px) {


.menu{
display:none;
padding:24px 0;
gap:40px;
list-style: none;
font-style:normal;
        }
.contact{
    display:none;
}   
.container {
    width: 428px;
     margin: 0 auto;
  }

  .section {
    padding: 96px 0;
  }

 
  .logo-nav{
    display:flex;
   align-items: center;
justify-content: space-between;
padding:24px 0;
gap:150px;}


  .menu-toggle {
    background-color:#ffffff ;
    border:none;

  }

  .menu-hamburger {
    stroke: #2E2F42;
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 80px 30px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid  #e7e9fc;
    border-radius: 50%;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close {
    fill: currentColor;
  }

  .menu-container .menu-toggle:hover,
  .menu-container .menu-toggle:focus {
    background-color:  #404bbf;
    color: #ffffff;
    border: none;
  }   
  .mobile-page-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 284px;
  }

  .page-link {
    color:#2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-link:hover,
  .page-link:focus {
    color:#404bbf;
  }

  .page-link-studio {
    color: #404bbf;
  }

  .page-link-portfolio {
    color: #404bbf;
  }

  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }

  .mobile-phone {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color:#4d5ae5;
  }

  .mobile-email {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #434455;
    font-style: none;
  }

  .mobile-social-media {
    display: flex;
    gap: 56px;
  }

  .mobile-social-media-list {
    height: 40px;
    width: 40px;
  }

  .mobile-socialmedia-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-svg {
    fill:#f4f4fd;
  }

  .mobile-socialmedia-icon:hover,
  .mobile-socialmedia-icon:focus {
    background-color: #31d0aa;
  }

  .hero{
    background-color: #2E2F42;
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url("../images/Dark-bg-2-2.jpg");
        width: 100%;
        height: 432px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding: 112px 0;
      }
   
   .hero-title{
    color:#ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
   }   

.hero-button{
    font-family: "Roboto", sans-serif;
    background-color:#4d5ae5;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}
.hero-button:hover,
.hero-button:focus {
  background-color:#404bbf;}

 .modal{
    position: fixed;
    inset: 0 0 auto;
    min-height: 100vh;
    background-color:#2e2f4266;
    opacity: 1;
    pointer-events: all;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);   
 } 

 .modal.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color:#fcfcfc;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;   
}

.hero-button-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color:#e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color:#2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.hero-button-feature {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
    color:#ffffff;
    border: none;
  }
.modal-title{
    color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;   
}
.modal-form {
    display: flex;
    flex-direction: column;
  }

 .modal-box{
   margin-bottom:8px; 
 } 

.modal-description{
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px; 
}
.modal-style{
  position: relative;  
}

.modal-input{
    outline: transparent;
    border-radius: 4px;
    border: 1px solid #2e2f4266;
    background-color: transparent;
    width: 100%;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;  
}
.modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:focus + .field-icon {
    fill: #4d5ae5;
  }

.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translatey(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-icon:focus {
    fill: #4d5ae5;
  }
.modal-box-comment{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color:#8e8f99;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;  
}
.modal-input-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f4266;
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input-comment:focus {
    border-color: #4d5ae5;
  }

  .visually-hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .modal-box-terms{
    margin-bottom: 24px;
  }

.modal-terms-cond:checked + .privacy span{
    background-color: #4d5ae5;
    fill:#f4f4fd;
    border: none; 
}
.modal-terms{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;  
}
.modal-policy{
    margin-right: 8px;
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #2e2f4266;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.privacy-policy{
    color: #4d5ae5;  
}
.modal-terms-cond:checked + .modal-terms span {
    background-color:#404bbf;
    fill: #f4f4fd;
    border: none;
  }

.modal-button-send{
    min-width: 169px;
    display: block;
    margin: auto;
    padding: 16px 32px;
    background-color:#4d5ae5;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;  
}

.modal-button-send:hover,
.modal-button-send:focus {
    background-color: #404bbf;
  }

.goals-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    }
.goals-box{
    display:block;
}    
.goals-icon-box{
    display: none;
}
.goals-title{
    color:#2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    margin-bottom: 8px;
}
.goals-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.what-are-we-doing{
    display: none;
}
.what-are-we-doing-title{
    color:  #2e2f42;
    font-size: 36px;
    font-weight:700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.our-team{
    background-color:#f4f4fd;  
      }
.our-team-title{
    color: #2e2f42;
    font-size:36px;
    font-weight:700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px; 
}

.our-team-title-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px; 
}

.our-team-box{
    background-color:#ffffff;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08); 
}

.our-team-name-paragraph{
    padding: 32px 0;
    margin: 0 16px;
    gap: 8px;
}
.our-team-name{
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}
.our-team-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-icon-box{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.our-team-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.our-team-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.our-team-icon:hover,
  .our-team-icon:focus {
    background-color: #404bbf;
  }
.our-team-icon-feature{
    fill: #f4f4fd; 
}

.customers-title{
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;  
}

.customers-logos{

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
    flex-basis: calc((100% - 16px) / 2);
}
.customers-client-logo{
    width: 190px;
    height: 88px; 
}

.customer-client-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  #8e8f99;
    border-radius: 4px;
    color:  #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.customers-client{
    fill: currentColor; 
    width:190px;
    height:88px;

}

.customer-client-box:hover,
  .customer-client-box:focus {
    border-color: #404bbf;
    color: #404bbf;
  }

.footer{
    background-color: #2e2f42; 
}
.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.footer-logo{
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;  
}

.logo-part-foot{
    margin: 97px auto 16px auto;
    color: var(--purple);
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.17;
      letter-spacing: 0.54px;
      text-transform: uppercase;
      text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;}


.logo-foot{
color: var(--off-white);
}

.footer-paragraph{
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 268px;  
}
.social-title{
    color:#ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.footer-social{
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}
.footer-social-feature{
    height: 40px;
    width: 40px;
}
.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon{
    fill:#f4f4fd; 
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.subscribe{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;  
}
.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px; 
}
.footer-input{
    width: 398px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    background-color: transparent;
    color:#ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.footer-input::placeholder {
    color:#ffffff;
  }

.button-subscribe{
    margin-bottom:96px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    background-color:#4d5ae5;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-svg{
fill: #ffffff;
    margin-left: 16px;}

   .button-subscribe:hover,
   .button-subscribe:focus {
      background-color: #404bbf;
    }
  
.main-section{
    padding:48px 0;
}
.filter-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    margin-bottom: 48px; 
}

.filter{
    font-family: "Roboto", sans-serif;
    background-color: #f4f4fd;
    border: 1px solid #e7e9fc;
    color:  #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  .filter:hover,
  .filter:focus {
    background-color: #404bbf;
    border: 1px solid transparent;
    color:#ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }

  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

.project-box{
max-width:396px;
}
.project-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-link:hover,
  .portfolio-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .project-title-paragraph{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

.project-title{
    color:#2e2f42;
font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.project-paragraph{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.project-animation{
    position: relative;
    overflow: hidden;
  
}
.project-animation-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color:  #f4f4fd;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
  
  .portfolio-link:hover .project-animation-text,
  .portfolio-link:focus .project-animation-text {
    transform: translateY(0%);
  }
  








}

















/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
    .container{
        width:768px;
    }

.logo-nav-address{
    display: flex;
    justify-content: space-around;
}

.menu-toggle{
    display:none;
}
.menu-container{
  display:none;  
}

.logo-nav{
    padding:0;
}

.menu{
    display:flex;
    gap:40px;
}


.underline{
    position:relative;
    color:#404bbf;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
  
    transition-property: color;
transition-duration:250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1 );
  
   
}

.underline::after{
    position:absolute;
    content:"";
    top:67px;
    left:0;
    color:#404bbf;
    
    background-color: #404bbf;
    border-radius: 2px;
    height:4px;
    width:100%;
    bottom:-1px;
}
  .page-description{
    color:#2E2F42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
  
    transition-property: color;
transition-duration:250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1 );
}

.page-description:hover,
.page-description:focus{
    color:#404bbf;}

.contact{
    font-style: normal;
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin: 16px 0; 
}

.address-description{
    color: #434455;
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}
.address-description:hover,
  .address-description:focus {
    color: #404bbf;

  }

.hero{
    height: 436px;
    padding: 112px 0;
 }

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 500px;
    margin-bottom: 36px;
}
.goals-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc((100% - 24px) / 2);
    columns: 2;
    column-gap: 24px;
    row-gap: 72px;  
}
.goals-box{
    max-width:356px;
}

.goals-title{
    text-align: left;
}
.what-are-we-doing{
    display:none;
}
.our-team-title-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
    columns: 2;
    flex-basis: calc((100% - 24px) / 2);
    padding-left: 108px;
 
}
.customers-client{
    fill: currentColor; 
    width:168px;
    height:88px;}

.customers-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    flex-basis: calc((100% - 48px) / 3);  
}
.customers-client-logo{
    width: 168px;
    height: 88px;
}

.footer{
    padding-top:96px;
}
.footer-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 550px; 
}
.footer-logo{
    display: block;
    margin-bottom: 0;
    margin-top:-98px;
}

.footer-paragraph{
    max-width: 264px;
    margin-top: 16px;
}
.footer-social-media{
    text-align: left;
}
.footer-social{
    margin-top: 30px; 
}
.subscribe{
    text-align: left;   
}
.footer-label{
    margin-top:-94px;
}

.footer-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;  
}
.footer-input{
   width:264px;
}

.main-section{
    padding:64px 0;
}

.filter-list{
    padding-left: 91px;
    margin-bottom: 64px; 
}

.project{
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    flex-basis: calc((100% - 24px) / 2); 
}

.project-box{
    max-width:356px;
}

}



























/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1200px) {
    .container{
        width:1158px;
    }

    .section{
        padding:120px 0;
    }
    .menu-toggle{
        display:none;
    }
    .menu-container{
      display:none;  
    }
.logo-nav-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-nav{
    display: flex;
    padding: 0;
}

.contact{
    font-style: normal;
    display: flex;
    flex-direction: row;
    gap: 40px; 
   
}
.address-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: inline;
    margin: 24px 0;
}
.underline{
    position:relative;
    color:#404bbf;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
  
    transition-property: color;
transition-duration:250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1 );
  
   
}

.underline::after{
    position:absolute;
    content:"";
    top:67px;
    left:0;
    color:#404bbf;
    
    background-color: #404bbf;
    border-radius: 2px;
    height:4px;
    width:100%;
    bottom:-1px;}



.hero{
    background-color: #2e2f42;
    padding: 188px 0; 
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
url(../images/background.jpg);

background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin:0 auto;
    max-width: 1440px;
    height: 600px;

}
.hero-title{
    margin-bottom: 48px; 
}

.goals-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;   
}
.goals-box{
    display: block;
    gap: 8px;
    flex-basis: calc((100% - 72px) / 4);
}
.goals-icon-box{
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.goals-title{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size:20px;
    font-weight:500;
    margin-bottom: 8px; 
}
.what-are-we-doing{
    display: block;
    padding-top: 0;
}
.what-are-we-doing-list{
    display: flex;
    gap: 24px;
}
.what-are-we-doing-box{
    flex-basis: calc((100% - 48px) / 3);
}

.our-team-title-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    padding-left: 0;
 }














.footer{
    padding:100px 0;
}

.footer-box{
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 80px;
    margin-left: auto;
    max-width: 1158px;
 
}


.social-title{
    text-align: left;
   
}

.subscribe{
  text-align:left;
  
}
.footer-form{
   
    gap:24px;
}


.main-section{
    padding: 96px 0 120px 0; 
}
.filter-list{
    justify-content: center;
    margin-bottom: 72px;
}

.project{
    column-gap: 24px;
    row-gap: 48px;
}
.project-box{
    flex-basis: calc((100% - 48px) / 3);
}




}


















